@import url("base.css");
#wrap{
    font-family: "Centrale Sans Rounded Bold";
    #header{
        background: #03a9f4;
        color:#fff;
        padding:12px 20px;
        h1{
            font-size: 20px;
        }
    }
    #main{
        a{
            display: block;
        }
    }
}